<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HyperPawn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MetzPawn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shell.Properties.Settings>
            <setting name="TicketPrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="DoNotPrint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DatabaseConnection" serializeAs="String">
                <value>Data Source=.;Initial Catalog=HyperPawn;Integrated Security=SSPI;</value>
            </setting>
            <setting name="BackgroundPhoto" serializeAs="String">
                <value>Vista_Wallpaper_2.jpg</value>
            </setting>
            <setting name="EmployeeTimeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PolicePrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelPrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="TicketReportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="PoliceReportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelReportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="TicketHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="PurchasePoliceReportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportPrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="FloorReportFile" serializeAs="String">
                <value />
            </setting>
        </Shell.Properties.Settings>
        <HyperPawn.Properties.Settings>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="DoNotPrint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DatabaseConnection" serializeAs="String">
                <value>Data Source=.;Initial Catalog=HyperPawn;Integrated Security=SSPI;</value>
            </setting>
            <setting name="BackgroundPhoto" serializeAs="String">
                <value>Vista_Wallpaper_2.jpg</value>
            </setting>
            <setting name="EmployeeTimeout" serializeAs="String">
                <value>15</value>
            </setting>
        </HyperPawn.Properties.Settings>
        <MetzPawn.Properties.Settings>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="DoNotPrint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DatabaseConnection" serializeAs="String">
                <value>Data Source=.;Initial Catalog=HyperPawn;Integrated Security=SSPI;</value>
            </setting>
            <setting name="BackgroundPhoto" serializeAs="String">
                <value>Vista_Wallpaper_2.jpg</value>
            </setting>
        </MetzPawn.Properties.Settings>
    </userSettings>
</configuration>